.mypy_cache/
__pycache__/
/.idea/
/scratch/
/pyminflux.egg-info/
/build/
/pyminflux/processor/build/
/pyminflux/processor/processor.c
/.vscode/
/dist/
/pyminflux.perf.egg-info/
/.pytest_cache/
/.coverage
/pyminflux.spec
