[tool.poetry]
name = "pyminflux"
version = "0.1.1"
description = "Reader, processor, and viewer of MINFLUX raw data."
authors = ["Aaron Ponti <aaron.ponti@bsse.ethz.ch>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/bsse-scf/pyMINFLUX"
documentation = "https://github.com/bsse-scf/pyMINFLUX/wiki"
keywords = ["MINFLUX", "Visualization", "Filtering", "Analysis", "Python"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering"
]
include = [
    "LICENSE.txt",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/bsse-scf/pyMINFLUX/issues"

[tool.black]
line-length = 88
target-version = ['py310', 'py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
py_version = 310
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
combine_as_imports = true
known_third_party = ["PySide6", "numpy", "pandas", "pyqtgraph", "pytest", "scipy", "sklearn"]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
numpy = "^1.23.4"
pandas = "^1.5.1"
pyside6 = ">=6.4.0.1,<6.5"
pyqtgraph = "^0.13.2"
scipy = "^1.9.3"
pyopengl = "^3.1.6"
scikit-learn = "^1.2.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
ordered-set = "^4.1.0"
pytest-cov = "^4.0.0"
pre-commit = "^3.1.1"
pyinstaller = "5.10.1"

[tool.poetry.scripts]
pyminflux = "pyminflux.main:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
